<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New House</title>
</head>
<body>
<h1> Your new house</h1>
<form action="/newHouse" method="post">
    <label> <br>Your home adress
    <input type="text" name="adress">
        <br> Your city
    <input type="text" name="city">
    <input type="submit">
    </label>
</form>

</body>
</html>