<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>
</head>
<body>
<h1>Enter your registration data</h1>
<form action="/register" method="post">
    <label><br>Email
    <input type="email" name="RegMail">
    <br>Login
    <input type="text" name="Login">
    <br>Password
    <input type="password" name="Password">
    <input type="submit">
    </label>
</form>

</body>
</html>