<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New House</title>
</head>
<body>
<h1> Register your new house</h1>
<form action="/newHouse" method="post">
    <br> City
    <input type="text" name="city">
    <br>  Area
    <input type="text" name="area">
    <br> Price
    <input type="text" name="price">
    <br> Street
    <input type="text" name="street">
    <input type="submit" value="Try to sell" onclick="alert('Registration done')">
    </label>
</form>

</body>
</html>